/*NAVIGATION*/

html {
    scroll-behavior: smooth;
}

nav.navbar {
    position: fixed;
    width: 100%;

}

.navbar-header {
    height: 45px;
    
/*    background-color: #05BF81;*/

}

ul.nav li {
    padding-right: 10px;
    font-size: 1.1em;
}
 
ul.nav {
    margin-right: 20px;
}

.navbar {
    margin-bottom: 0;
        padding: 5px; 
    z-index: 9999;
    border: 0;
    background-color: transparent;
    line-height: 1.42857143 !important;
    letter-spacing: 1.2px;
    border-radius: 0;
    font-family: Athiti;
    font-weight: bold;
}

.navbar li a,
.navbar {
    color: #05BF81 !important;
    letter-spacing: 2px;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: white !important;
    transition: 0.5s;


}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;

}

.navbar-default .navbar-toggle:hover {
 
    background-color: transparent;
    border-radius: 0px;
    transition: 1s;
}



/*NAVIGATION*/

      @media screen and (max-width: 992px) {}